<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Create Account</title>
    </head>
    
    <body>
        <h1>Create Account</h1>
        <form action="/createAcct" method="post" onsubmit="return submitted();">
            <fieldset>
                <label><strong>Name:</strong> <input type="text" name="name"/></label>
                <label><strong>Email Address:</strong> <input type="email" name="email"></label><br><br>
                <label><strong>Phone Number:</strong> <input type="tel" name="number" placeholder="123-456-7890"></label><br><br>
                <label><strong>Password:</strong><input type="text" name="password"></label><br><br>
            </fieldset>
            
            <input type="reset"/>
            <input type="submit" value="Create Account">
            <hr>
    
            <a href="/">BACK</a>
        </form>
    </body>
    <script type="text/javascript">
        function submitted() {
            return confirm("Confirm All Information Is Correct");
        }
    </script>
    </html>