<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Find Recipe</title>
    </head>
    
    <body>
        <h1>WELCOME TO ESQUARED'S RECIPE FINDA</h1>
        <h2>Just Give Us A Keyword or Ingredient And Give You The Recipe You Desire!</h2>
        <form action="/finder" method="post">
            <fieldset>
                <label><strong>Enter Keyword/Ingredient: </strong> <input type="text" name="word"/></label>
            </fieldset> <br>
            
            <input type="reset" value="Clear">
            <input type="submit" value="Show Me The Recipes">
            <hr>
    
            <a href="/">BACK</a>
        </form>
    </body>
    </html>