<!doctype html>
<html lang="en">

<style>
    body {
        background-color: #D8B7DD; /* Light purple */
        color: #000080; /* Navy blue */
    }
</style>

<head>
	<meta charset="utf-8" />
	<title> ESquared Recipes </title>
</head>

<body>
	<h1>Welcome To ESquared Recipes!</h1>
    <h2>We're Here To Satisfy All Your Recipe Needs </h2>
    <hr style="border: 1px solid black;">
    <h3>First, Create an Account </h3>
    To Create An Account Click <a href="/createAcct"> Here </a><br>
    <h3>Next, Onto The Recipe <a href="/finder"> Finder </a></h3>
</body>
</html>