<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title> Recipes </title>
    </head>
    
    <body>
        <h1>ESquared Presents...Your Recipes</h1>
        <% if (recipes.length > 0) { %>
            <ul>
                <% recipes.forEach(recipe => { %>
                    <li>
                        <a href="/recipe/<%= recipe.id %>">
                            <h2><%= recipe.title %></h2>
                            <img src="<%= recipe.image %>" alt="<%= recipe.title %>" style="max-width:200px;">
                        </a>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p> OOPS LOL no recipes found. Try searching for something else!</p>
        <% } %>
        <a href="/">HOME</a>
    </body>
</html>