<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Account Confirmation</title>
    </head>
    
    <body>
        <h1>Welcome To The ESquared Family</h1>
        <h2> Here's All Your Information, Keep It Safe!</h2>
        <hr><br>
        <strong>Name:</strong> <%- name %> <br>
        <strong>Email Address:</strong> <%- email %> <br>
        <strong>Phone Number:</strong> <%- number %> <br>
        <strong>Password:</strong> <%- password %> <br>
        <hr><br>
        <a href="/">HOME</a>
    </body>
</html>